html {
  font-size: 1.2em;
  --gutter: 0.8rem;
  --main-color: #C80000;
  --alt-color: #c80000b7;
}

body {
  font-family: 'Raleway', 'sans-serif';
  line-height: 1.3em;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: var(--main-color);
  padding: 20px;
}
.logo__name {
  font-size: 2em;
  font-weight: bold;
  color: #FFF;
  margin-right: 5px;
}
.logo__suffix {
  color: #FFF;
  font-weight: bold;
}

.content__title {
  background-color: #666;
  color: #FFF;
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
}
.italic {
  font-size: 1.1em;
  font-style: italic;
}

/* Styles du Panier */
.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;
}
.field {
  margin: 0.3rem 0;
  
}
.field__label {
  display: block;
  margin-bottom: 0.3rem;
}
.field__input {
  width: 100%;
  padding: 0.5rem;
  background-color: #EEE;
  border: 0;
  border-bottom: 1px solid black;
}
textarea.field__input {
  height: 80px;
}
.field__input:focus {
  background-color: #CCC;
}
.columns {
  display: flex;
  justify-content: space-between;
}
.columns__child {
  width: calc(50% - 0.5rem);
}
.wrapper__title {
  font-weight: bold;
  font-size: 1.5em;
}
.legend {
  font-weight: bold;
  font-size: 1.2em;
  color: grey;
  margin: 1rem 0;
}
.gutter {
  padding:0 1rem;
}
.wrapper__actions {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}
.button {
  padding: 1rem;
  background-color: #EEE;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.05em;
  border: 0;
}
.button__alt {
  background-color: var(--main-color);
  color: white;
}
.button:hover {
  background-color: var(--alt-color);
  color: white;
}  

/* Board */
.cart {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.cart td, .cart th {
  padding: 0.5rem 1rem;
}

.cart th {
  font-weight: bold;
  font-size: 1.1em;
}

.cart td {
  font-size: 0.9em;
}

.cart__quantity {
  width: 3em;
}

.cart__delete {
  text-decoration: underline;
  color: var(--main-color);
}

.cart__delete:hover {
  color: var(--alt-color);
}

.cart .cart__total {
  font-weight: bold;
  font-size: 1.2em;
}

.cart .cart__price {
  font-weight: bold;
  color: var(--main-color);
  font-size: 1.2em;
} 

.footer {
  background-color: #666;
  color: #FFF;
  text-align: center;
  padding: 20px;
}

@media (min-width: 580px) {
  .header {
    text-align: left;
  }
}

@media (max-width: 700px), (max-height: 500px) {
  .header {
    position: static;
  }
  .content {
    margin-top: 0;
  }
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .columns__child {
    width: calc(100% - 0.5rem);
  }
  .button {
  width: 50%;
  }

} 